.green-cell {
  background-color: lightgreen;
}
.darkgreen-cell {
  background-color: darkgreen;
}
.mediumseagreen-cell {
  background-color: mediumseagreen;
}
.forestgreen-cell {
  background-color: forestgreen;
}
.coral-cell {
  background-color: coral;
}
.darkred-cell {
  background-color: darkred;
}
.firebrick-cell {
  background-color: firebrick;
}