<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daten Anzeigen</title>
</head>
<body>
    <h1>Daten aus der Datenbank</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Abfluss</th>
            <th>Wasserspiegel</th>
            <th>Temperatur</th>
        </tr>
        {% for datensatz in daten %}
            <tr>
                <td>{{ datensatz[1] }}</td>
                <td>{{ datensatz[2] }} m³/s</td>
                <td>{{ datensatz[3] }} m ü.M.</td>
                <td>{{ datensatz[4] }} °C</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>